streamlit
torch
protobuf==4.25.3
sentence-transformers==3.4.1
transformers==4.51.3
tokenizers==0.21.1
chromadb==0.5.23
nltk
PyPDF2
pdfplumber
PyMuPDF
fitz
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
pillow
requests
python-dotenv
